/* For truncating text after specific lines */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Indent the title if it's only 1 line long */
.indent-clamp {
  text-indent: 0;
  /* Detect if it's one line and apply text-indent */
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  -webkit-box-orient: vertical;
  text-align: justify;
}
