/* For truncating text after specific lines */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Indent the title if it's only 1 line long */

.title-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits title to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap; /* Preserves white space */
}
.short-title:after {
  content: "\A "; /* Adds a blank line for short titles */
  white-space: pre;
}
