.sticky-header {
  position: sticky;
  top: 0; /* Stick the header to the top */
  z-index: 1000; /* Ensure it stays above other content */
}
/* Header styles remain unchanged */

/* Fixed Button */
.fixed-button {
  position: fixed;
  top: 10; /* Stick the header to the top */

  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensures it's on top of other elements */
  padding: 10px 20px;
  background-color: #0096ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s;
}

.fixed-button:hover {
  background-color: #007acc;
  transform: scale(1.05);
}
