.sticky-header {
  position: sticky;
  top: 0; /* Stick the header to the top */
  z-index: 1000; /* Ensure it stays above other content */
}
/* Header styles remain unchanged */

/* Fixed Button */
/* Fixed Button Container */
.fixed-button-container {
  position: fixed;
  top: 80px; /* Adjust as needed */
  right: 8px; /* Adjust as needed */
  z-index: 1000; /* Ensures it stays on top of other elements */
}

/* Button Styles */
.fixed-button {
  padding: 10px 20px;
  background-color: #0096ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s;
}

.fixed-button:hover {
  background-color: #007acc;
  transform: scale(1.05);
}

.underline-anim{
  color: white;
  position:relative;
}

.underline-anim::after{
  content: '';
  height:2px;
  width: 100%;
  background-color: white;
  position:absolute;
  left:0;
  bottom:0;
  width:0;
  transition: width 0.3s ease;
}

.underline-anim:hover::after{
  width:100%;
}

/* Dropdown Menu */
.overlay-dropdown {
  position: absolute;
  top: 100%; /* Position directly below the button */
  left: 0;
  width: 200px; /* Adjust as needed */
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1100; /* Above other UI elements */
  display: none; /* Initially hidden */
}

.overlay-dropdown.active {
  display: block; /* Show dropdown when active */
}

.overlay-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay-dropdown li {
  padding: 10px;
  cursor: pointer;
  text-align: left;
}

.overlay-dropdown li:hover {
  background-color: #f0f0f0;
}
